<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My ToDo | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <!-- main wrapper starts -->
    <div class="main_wrapper" align="center">
            <!-- main nav starts -->
        <nav class="main_nav">
            <ul>
                <li><a href="sign_up.html">Join us</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <!-- main nav ends -->
        <!-- content wrapper starts -->
        <div class="content_wrapper" align="center">
            <div class="logo">
                <img src="../static/logo.jpg">
                <h3>My ToDo</h3>
            </div>
            <div class="welcome_box">
                <h2>Welcome to <span>My ToDo</span></h2>
                <p>An application that helps you best manage your <span>daily</span>, <span>weekly</span> or <span>monthly</span> plans and goals by creating quick, simple To-do lists.</p>
            </div>
            <div class="boxes box_a">
                <p>Join us and improve your productivity</p>
                <a href="sign_up.html" class="btn">Sign up</a>
            </div>
            <div class="boxes box_b">
                <p>Checkout what you've been missing out on</p>
                <a href="login.html" class="btn">Login</a>
            </div>
        </div>
        <!-- content wrapper ends -->
        <!-- footer starts here -->
        <footer>
            <p>My To-Do &copy; 2018</p>
        </footer>
        <!-- footer ends -->
    </div>
    <!-- main wrapper ends -->
</body>
</html>