<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My ToDo | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <!-- main wrapper starts -->
    <div class="main_wrapper" align="center">
        <!-- main nav starts -->
        <nav class="main_nav">
            <ul>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="login.html">logout</a></li>
            </ul>
        </nav>
        <!-- main nav ends -->
        <!-- content wrapper starts -->
        <div class="content_wrapper" align="left">
            <div class="logo logo_sm">
                <img src="../static/logo.jpg">
            </div>
            
            <div class="dashboard_wrapper">
                <ul>
                    <li class="header"><span>Settings</span></li>
                </ul>
                <div class="info_box">
                    <div class="info_card">
                        <p class="blue"><span>First name:</span> Atama</p>
                        <p class="blue"><span>Second name:</span> Zack</p>
                        <p class="green"><span>Email:</span> atama.zack@gmail.com</p>
                        <!-- <p class="red"><span>Date of birth:</span> </p> -->
                    </div>
                    <img src="../static/avatar.jpg">
                </div>
            </div>
        </div>
        <!-- content wrapper ends -->
        <!-- footer starts here -->
        <footer>
            <p>My To-Do &copy; 2018</p>
        </footer>
        <!-- footer ends -->
    </div>
    <!-- main wrapper ends -->
</body>
</html>