<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My ToDo | Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <!-- main wrapper starts -->
    <div class="main_wrapper" align="center">
            <!-- main nav starts -->
        <nav class="main_nav">
            <ul>
                <li><a href="landing_page.html">Landing page</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        <!-- main nav ends -->
        <!-- content wrapper starts -->
        <div class="content_wrapper" align="center">
            <div class="logo">
                <img src="../static/logo.jpg">
                <h3>My ToDo</h3>
            </div>
            <div class="welcome_box">
                <h2>Welcome <span>My ToDo</span></h2>
                <p>An application that helps you best manage your <span>daily</span>, <span>weekly</span> or <span>monthly</span> plans and goals</p>
            </div>
            <form class="form">
                <h3>Sign Up</h3>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Password">
                <input type="text" placeholder="Confirm password">
                <a href="dashboard.html" class="btn">Submit</a>
            </form>
        </div>
        <!-- content wrapper ends -->
        <!-- footer starts here -->
        <footer>
            <p>My To-Do &copy; 2018</p>
        </footer>
        <!-- footer ends -->
    </div>
    <!-- main wrapper ends -->
</body>
</html>